body{
    margin: 0;
}

.main-wrapper{
    background-color: aqua;
    height: 100vh;
    background-image: 
    linear-gradient(to bottom,#000000bb,#00000022,#000000bb),
    url('http://picsum.photos/id/33/1000');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: antiquewhite;
    justify-content: center;
    font-size: 60px;
    align-items: center;
}